#
# Template for the .env file
# Update with appropriate values
# Rename the file to .env after updating
#

AZURE_AI_PROJECT_ENDPOINT="https://<YOUR-RESOURCE-NAME>.services.ai.azure.com/api/projects/<YOUR-PROJECT-NAME>"
AZURE_AI_MODEL_DEPLOYMENT_NAME="<YOUR-MODEL-DEPLOYMENT-NAME>"